################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HomeworkOne/obj
/HomeworkOne/bin/Debug/net5.0
/Homework2
